<div >
  <h1 class="text-lg font-bold">About us</h1>
  <p class="text-sm"> <span highlight>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span> Natus deserunt repellat praesentium dignissimos ipsam? A corporis tempore corrupti delectus ullam, aut ab perspiciatis eos magni eaque soluta, adipisci tenetur tempora!</p>
  <p class="text-sm">Número de clients @if (duration() > 0) {
      <app-counter [duration]="duration()" [message]="message()"/>
    }
  </p>
  <div>
    <app-wave-audio audioUrl="assets/audios/audio-about.mp3" />
  </div>
  <br/>
  <hr>
    <p>Probando pipe reverse: {{ 'Luis' | reverse | uppercase }}</p>
  </div>