<nav>
    <div class="w-full flex flex-wrap items-center justify-between mx-auto py-4">
        <div class="flex items-center space-x-8">
            <a href="https://flowbite.com/" class="flex items-center ">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mr-3" alt="Flowbite Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap">Flowbite</span>
            </a>
            <ul class="flex space-x-6">
                <li>
                    <a routerLink="/" class="block underline hover:underline" aria-current="page">Home</a>
                </li>
                <li>
                    <a routerLink="/about" class="block hover:underline">About</a>
                </li>
                <li>
                    <a routerLink="/services" class="block hover:underline">Services</a>
                </li>
            </ul>
        </div>
        <div class="flex items-center">
            <button class="px-2 border  rounded relative" (click)="toogleSideMenu()">
                <div class="absolute -top-3 -left-3 rounded h-5 w-5 bg-red-600 text-white text-xs">{{ cart().length }}
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>
            </button>
        </div>
    </div>
</nav>

<div class="fixed border-l-4 top-0 right-0 bg-red z-40 w-72 h-screen p-4 overflow-y-auto transition-transform bg-white "
    [class.translate-x-full]="hideSideMenu()">
    <div class="flex justify-between items-center">
        <p class="text-xl">My Cart</p>
        <button (click)="toogleSideMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            @for (item of cart(); track item.id; let idx=$index) {
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" [src]="item.images[0]" alt="Neil image">
                    </div>
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                            {{ item.title }}
                        </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                        S/ {{item.price | number : '1.2-2'}}
                    </div>
                    <div>
                        <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490.646 490.646"
                            xml:space="preserve" class="w-5 h-5 m-2">
                            <g>
                                <g>
                                    <path d="M399.179,67.285l-74.794,0.033L324.356,0L166.214,0.066l0.029,67.318l-74.802,0.033l0.025,62.914h307.739L399.179,67.285z
                                        M198.28,32.11l94.03-0.041l0.017,35.262l-94.03,0.041L198.28,32.11z" />
                                    <path
                                        d="M91.465,490.646h307.739V146.359H91.465V490.646z M317.461,193.372h16.028v250.259h-16.028V193.372L317.461,193.372z
                                        M237.321,193.372h16.028v250.259h-16.028V193.372L237.321,193.372z M157.18,193.372h16.028v250.259H157.18V193.372z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    <hr>
    <div>
        <h5 class="mt-4 mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">
            Total S/ <strong>{{ totalOnCart() | number : '1.2-2'}}</strong> 
        </h5>
    </div>


</div>